body {
  background-color: #FFFFFF;
}

h1, p {
  color: #000000;
}

p {
  font-size: 10px;
  //margin-top: 3%;
}


title {
  display: none;
}

a {
  color: black;
  font-weight: bold;
}

hr {
  display: none;

}

footer {
  display: none;
}


.navbar {
  display: none;
}


.container-fluid {
  font-size: 12px;
}

.tcbStyles {
  font-size: 14px;
}

.tcbStyles p {
  font-size: 12px;
}

#showPrint, #cntr p {
  visibility: visible;
  text-align: center;
  font-size: 12px;
}

#paraTitle {
  margin-top: 5%;
}

#press {
  margin-top: 5%;
}

#myBtn {
  display: none;
}

#hidePrint{
  display: none;
}

#pkImg {
  height: 200px;
}
