h1 {color:#000000;}
p {color:#000000;}
body {background-color:#FFFFFF;}


.container-fluid {
  font-size: 12px;
}

#hidePrint{
  display: none;
}

.navbar {
  display: none;
}

p {
  font-size: 14px;
  line-height: 32px;
}


#showPrint, #cntr p {
  visibility: visible;
  text-align: center;
  font-size: 12px;
}

.tcbStyles {
  font-size: 18px;
}

.tcbStyles p {
  font-size: 18px;
}


#paraTitle {
  margin-top: 5%;
}

#press {
  margin-top: 5%;
}

#myBtn {
  display: none;
}

a {
  color: black;
  font-weight: bold;
}

p {
  margin-top: 3%;
  line-height: 15px;
}

hr {
  display: none;

}

footer {
  display: none;
}
