/*
Filename: tcb_styles.css
Author: Team 3
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: .8%;
  background-color: rgb(0, 60, 77);
}

hr {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 80px;
}

ul li {
  list-style-type: none;
}

#mainContent {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  box-shadow: 0px 3px 12px rgba(266,186,143,0.7);
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}

i {
  padding: 5px;
}

i:hover {
  color: rgb(160,134,64);
}

p  {
    line-height: 28px;
    font-size: .8em;
}

#quote {
  font-family: 'Pinyon Script', cursive;
  color: black;
  letter-spacing: 1.5px;
  text-align: center;
  margin-top: -3.5%;
}

#quote h5 {
  margin-top: 5%;
  font-size: 25px;
}

#quoteDate {
  font-size: 20px;
  letter-spacing: -2px;
}

#logo:hover {
  opacity: .6;
}

.navbar {
  margin-top: -4.5%;
}

#navItems {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}

.navLink {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.navLink:hover {
  color: rgb(160,134,64);
  border-bottom: 3px double rgb(160,134,64);
}


#myBtn {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    color: white; /* Text color */
    padding: 15px; /* Some padding */

}

#myBtn:hover {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    color: rgb(160,134,64);
}

#socialMediaIcons {
  margin-top: 3%;
}

footer {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #fdfcfb;
}

footer p {
  text-align: center;
  font-size: 16px;
}

#footerButton a {

  color: white;
  margin-top: 5%;
}

#footerButton  {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 16px;
}

#footerButton2 a {
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-top: 5%;
}

#footerButton2  {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

#footerButton a:hover {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

#footerButton:hover {
  background-color: rgb(160,134,64);
  color: rgb(160,134,64);
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}


/* Index Page Styles */

.d-block {
  margin-left: auto;
  margin-right: auto;
}

#homeButtons a {
  color: black;
}

#homeButtons a:hover {
  text-decoration: none;
  color: rgb(160,134,64);
  opacity: .7;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.5%;
  width: 16rem;
  box-shadow: 0px .5px 3px rgba(0,0,0,0.7);
}

.card-header {
  background-color: rgb(0, 60, 77);
  color: #fdfcfb;
}

.card-body {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

.h2 {
  text-transform: uppercase;
}

#centerCol {
  text-align: center;
}

/* About Styles */

#bios {
  margin-top: 5%;
}

#bioParaStyles {
  font-size: 16px;
  line-height: 24px;
  padding: 18px;
}

#paraTitle {
  font-family: 'Pinyon Script', cursive;
  letter-spacing: .5px;
  text-align: center;
  margin-top: 3%;
}

.space {
  margin-top: 1%;
}

#aboutImage {
  text-align: center;
  filter: grayscale(1);
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}

#aboutContent p {
  font-size: .83em;
}

/* Join & Booking Styles */


#joinImage, #bookingImage {
  text-align: center;
  margin-top: 3.5%;
}

#joinInfo, #bookInfo {
  margin-top: 5%;
}

#joinTitle, #bookTitle, #bookMusicalList  {
  text-align: center;
}

#joinPara {
  padding: 10px;
  font-size: 16px;
}

#joinFormTitle, #bookFormTitle {
  text-align: center;
}

#formButtons {
  text-align: center;
}

#joinFormButton:hover {
  background-color: rgb(160,134,64);
}

#bookFormButton:hover {
  background-color: rgb(160,134,64);
}

#bookMusicalList {
  margin-top: 5%;
}

@media (device-width: 320px){
  .embed-responsive{
    width: 250px;
    height: 300px;


  }
}
@media (device-width: 375px){
  .embed-responsive{
    width: 280px;
    height: 320px;


  }
}
@media (device-width: 425px){
  .embed-responsive{
    width: 340px;
    height: 400px;


  }
}
@media (device-width: 1024px){
  .embed-responsive{
    width: 400px;
    height: 280px;


  }
}
/* Presskit Styles */

#makeCntr {
  text-align: center
}

#pkImg {
  box-shadow: 0px 3px 12px rgba(0, 60, 77,0.7);
}

.listItemPK {
  font-weight: bold;
  text-shadow: 1px 1px #efefef;
  color: rgb(0, 60, 77);
  text-align: center;
}

.col-sm {
  padding: 2%;
}

#contact {
  text-align: center;
}

.tcbStyles  {
  margin-top: 3%;
  text-align: center;
  font-family: 'Pinyon Script', cursive;
  letter-spacing: .5px;
}

.tcbStyles p {
  font-size: 32px;
}

#cntr {
  text-align: center;
}

#soundTitles {
  color: rgb(0, 60, 77);
  font-size: .8em;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .5px;
  text-align: center;
}

#videoTitles {
  color: rgb(0, 60, 77);
  font-size: .9em;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: bold;
}

#showPrint {
  visibility: hidden;
  width: 60%;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
}

#press {
  margin-top: -15%;
}


/* Media Styles */

#mediaRow {
  margin-top: 3%;
}

iframe {
  box-shadow: 0px 3px 12px rgba(0, 60, 77,0.7);
}

#mediaTitles {
  color: rgb(0, 60, 77);
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: bold;
}


/* Media Queries For Responsive Design*/
/*X-Small devices (landscape phones, 320px and down) */

@media (max-width: 320px) {

  #mainContent {
    width: 95%;
    margin: 1px auto;
  }

  .navbar-toggler {
    margin-left: auto;
    margin-right: auto;
  }


}

/*Small devices (landscape phones, 360px and up) */

@media (min-width: 375px) {

  #mainContent {
    width: 95%;
    margin: 0 auto;
  }

  .navbar-toggler {
    margin-left: auto;
    margin-right: auto;
  }

 }

 @media (min-width: 425px) {

   #mainContent {
     width: 95%;
     margin: 0 auto;
   }

  .navbar-toggler {
    margin-left: auto;
    margin-right: auto;
  }

   #quote {
     margin-left: auto;
     margin-right: auto;
   }


  }

/*Medium devices (tablets, 506px and up)*/

@media (min-width: 506px) {

  #mainContent {
    width: 98%;
    margin: 0 auto;
  }

  #logo {
    width: 50%;
    margin-top: 3.5%;
    margin-left: 8%;
  }


  #quote {
    margin-left: auto;
    margin-right: auto;
  }


 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  #mainContent {
    width:95%;
    margin: 0 auto;
  }

  #logo {
    width: 90%;
  }

  #navItems {
    margin-left: auto;
    margin-right: auto;
  }

  .navLink {
    font-size: 14px;
  }

  #quote {
    margin-left: 15%;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  #mainContent {
    width: 85%;
  }

  #logo {
    width: 95%;
  }

  #navItems {
    margin-left: auto;
    margin-right: auto;
  }

  .navLink {
    padding: 10px;
    font-size: 16px;
  }

  #quote {
    margin-left: 15%;
  }
}
